/*Index*/
.fondo-gral{
    width: 100%;
    background-color: #404040;
    height: 100px;
    line-height: 100px;
    h2{
        color: #39B54A;
        text-align: center;
        font-size: 40px;
        line-height: 100px;
    }
}